.header {
  color: #ffffff;
  background-color: rgb(71, 134, 227);
  padding: 12px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .desc {
    font-size: 16px;
  }
}

.right {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a{
    color: #ffffff;

    }
  }
}

.logo {
  width: 75px;
  height: 75px;
  cursor: pointer;

  img {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      flex-direction: column;
      gap: 12px;
    }
  }

  .left {
    flex-direction: column;
    align-items: center;
    gap: 6px;

    .text {
      align-items: center;
      justify-content: center;
      gap: 8px;

      .title {
        font-size: 24px;
      }

      .desc {
        font-size: 14px;
      }
    }
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .right {
    gap: 20px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}